// theme colors
/*$primary: #007bff;
$danger: #d9534f;
$next: #5cb85c;
$error: #d9534f;
$warning: #ffa500;
$info: #5bc0de;
$succes: #28a745
$disabled: #6c757d;
$link: #0000ee;
$white: #fff;
$black: #000;*/

@import 'uie';
